.body-colour{
    background-color: #d3d3d3;
}
/*CSS for Navbar*/
.nav-item {
	padding: 15px 10px 15px 10px;
	text-transform: uppercase;
    font-weight: bold;
}
.nav-item:hover {
	background-color: #808080;
}
/*End of CSS for Navbar*/

/*CSS for carousel*/
.carousel-image{
    height: 780px;
}
@media screen and (max-width: 576px)
{
    .carousel-image{
        height: 380px;
    }
}
/*End of CSS for carousel*/

/*CSS for Profile*/
.profile-title{
  padding: 15px 0 0 0;
}
.profile-image{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
/*End of CSS for profile*/

.hr-length{
    width: 100%;
    border: 1px solid;
}